<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.project.file.mapper.FileMapper">
    <insert id="fileUpload" parameterType="com.api.project.file.dto.FileUploadDto">
        INSERT INTO FIlE(FILE_UPLOAD_DT, FILE_URL, FILE_NM, FILE_SIZE, BOARD_SEQ_ID)
        VALUES(#{fileUploadDt},#{fileUrl},#{fileNm},#{fileSize},#{boardSeqId})
    </insert>

    <select id="getFileSeqId" parameterType="String" resultType="String">
        SELECT FILE_SEQ_ID
        FROM FILE
        WHERE FILE_URL = #{fileUrl}
    </select>

    <select id="getFileInfo" parameterType="String" resultType="com.api.project.file.dto.FileEntity">
        SELECT *
        FROM FILE
        WHERE FILE_SEQ_ID = #{fileSeqId}
    </select>
</mapper>