<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.project.login.mapper.LoginMapper">

    <select id="login" resultType="int" parameterType="map">
        SELECT STUDENT_ID , STUDENT_NAME , DORMITORY_ID
        FROM STUDENT_INFO
        WHERE STUDENT_ID = #{studentId}
          AND STUDENT_PW = #{studentPw}
    </select>
</mapper>