<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.project.user.mapper.UserMapper">

    <select id="login" resultType="com.api.project.user.dto.LoginStudentDto" parameterType="map">
<!--    <select id="login" resultType="int" parameterType="map">-->
        SELECT STUDENT_SEQ_ID , STUDENT_ID , STUDENT_NAME , DORMITORY_ID
--         SELECT COUNT(*)
        FROM STUDENT_INFO
        WHERE STUDENT_ID = #{studentId}
          AND STUDENT_PW = #{studentPw}
    </select>

    <select id="getSalt" resultType="String" parameterType="String">
        SELECT STUDENT_SALT
        FROM STUDENT_INFO
        WHERE STUDENT_ID = #{studentId}
    </select>
    
    <insert id="changeRefreshToken" parameterType="map">
        UPDATE STUDENT_INFO
        SET STUDENT_REFRESH_TOKEN = #{refreshToken}
        WHERE STUDENT_ID = #{studentId}
    </insert>

</mapper>